.intro-bg {
  background-image: linear-gradient(to bottom, #22313f 80%, #f4f4f4);
  height: 40vh;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "img img text text"
    ". . . ."
    ". . . .";
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: orange;
}

.max {
  width: 90%;
}

.img {
  grid-area: img;
}
.text {
  grid-area: text;
}

@media (max-width: 768px) {
  .intro-bg {
    background-image: linear-gradient(to bottom, #22313f 80%, #f4f4f4);
    height: auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
    justify-content: center;
    text-align: center;
  }
  .img {
    justify-items: center;
    width: 100%;
  }
  .text {
    width: 100%;
  }
  .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img img"
      "text text";
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: orange;
  }

  .max {
    width: 90%;
  }

  .img {
    grid-area: img;
  }
  .text {
    grid-area: text;
  }
}

.container2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  clear: both;
}

.text-center {
  text-align: center;
  justify-content: center;
}

fieldset {
  margin-bottom: 80px;
}
