@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.img-fluid { 
    width: 350px;
    height:300px;
    margin-left: auto;
    margin-right: auto;
}